._nav{
    background-color: rgb(44, 62, 80);
    color: white;
}

._profile-pic img{
    height: 300px;
}

._container-profile{
    background-color:rgb(26, 188, 156) ;
}

._container-cards{
    margin-top: 150px;
}

._container-about{
    margin-top: 150px;
    background-color:rgb(26, 188, 156);
}

.img-card{
    height: 300px;
    padding: 20px;
}