._container-nav{
    background-color: rgb(44, 62, 80) !important;
}

.navbar-brand{
    color: white;
}

.navbar-text{
    color: white;
}

.navbar-toggler-icon{
    background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 30 30'%3e%3cpath stroke='rgba%28255, 255, 255, 1%29' stroke-linecap='round' stroke-miterlimit='10' stroke-width='2' d='M4 7h22M4 15h22M4 23h22'/%3e%3c/svg%3e");
}

.navbar-toggler{
    border:1px solid white;
}

._profile-pic img{
    height: 300px;
}

._container-profile{
    background-color:rgb(26, 188, 156) ;
    color: white;
}

._container-cards{
    margin-top: 150px;
}

._container-about{
    margin-top: 150px;
    background-color:rgb(26, 188, 156);
    color: white;
    margin-bottom: 70px;
}

._container-social{
    background-color:rgb(58, 84, 109) ;
    color: white;
    margin-top: 20px;
}

._container-footer{
    background-color: rgb(44, 62, 80);
    color: white;
}

.img-card{
    padding: 20px;
}

.img-card img{
    height: 300px;
}

.navbar-text span{
    margin-left: 10px;
}

.btn-primary{
    background-color:rgb(26, 188, 156) ;
}

.border-icon{
    height: 50px;
    width: 50px;
    border: 2px solid white;
    border-radius: 50%;
}

/*TODO:add star line

.star{
    position: relative;
}

.star::before{
    content: "";
    display: block;
    height: 4px;
    width: 80px;
    background-color: white;
    position: absolute;
    left: 24px;
    bottom: 8px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.star::after{
    content: "";
    display: block;
    height: 4px;
    width: 80px;
    background-color: white;
    position: absolute;
    right: 24px;
    bottom: 8px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.star::after{
    background-color: black;
} */

