._container-nav{
    background-color: rgb(44, 62, 80) !important;
}

nav a, span,.navbar-toggler-icon{
    color: white !important;
}

/* .navbar-toggler{
    border:1px solid white;
} */

._profile-pic img{
    height: 300px;
}

._container-profile{
    background-color:rgb(26, 188, 156) ;
    color: white;
}

._container-cards{
    margin-top: 150px;
}

._container-about{
    margin-top: 150px;
    background-color:rgb(26, 188, 156);
    color: white;
    margin-bottom: 70px;
}

._container-social{
    background-color:rgb(58, 84, 109) ;
    color: white;
    margin-top: 20px;
}

._container-footer{
    background-color: rgb(44, 62, 80);
    color: white;
}

.img-card{
    padding: 20px;
}

.img-card img{
    height: 300px;
}

span{
    margin-left: 10px;
}

.btn-primary{
    background-color:rgb(26, 188, 156) ;
}


/*TODO:add star line

.star{
    position: relative;
}

.star::before{
    content: "";
    display: block;
    height: 4px;
    width: 80px;
    background-color: white;
    position: absolute;
    left: 24px;
    bottom: 8px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.star::after{
    content: "";
    display: block;
    height: 4px;
    width: 80px;
    background-color: white;
    position: absolute;
    right: 24px;
    bottom: 8px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.star::after{
    background-color: black;
} */